fastapi

uvicorn

python-multipart

opencv-python

numpy

onnxruntime

ultralytics

pillow

sqlalchemy

alembic

psycopg2-binary

loguru

python-dotenv

pydantic

pydantic-settings

python-jose

passlib[bcrypt]